extends layout.pug

block content
    link(rel='stylesheet', href='../../css/common.css')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    div.content-wrapper
        form.input-form
            h1 APIs
            button.btn.btn-success.btn-block.btn-create_api(type='submit') Create API
        .cards
            .card
                .card-header
                    h3.card-title APIs
                    .card-tools
                        ul.pagination.pagination-sm.float-right
                            li.page-item
                                a.page-link(href='#') &laquo;
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#') &raquo;
                .card-body.p-0
                    table.table
                        thead
                            tr
                                //- th(style='width: 10px') #
                                th ID
                                th Name
                                th HTTP Method
                                th Endpoint
                                th Test Cases 
                                th Edit 
                                th Run Test
                                //- th(style='width: 40px') Label
                        tbody
                            if userApis
                                - let i = 0
                                while i < userApis.length
                                    tr 
                                        td #{userApis[i]._id}
                                        td #{userApis[i].project_name}
                                        td #{userApis[i].http_method}
                                        td #{userApis[i].endpoint}
                                        td #{userApis[i].cases}
                                        td edit
                                        td Run Test
                                    - i++
    script.
        $('.btn-create_api').on('click', function(event) {
            console.log('create_api clicked')
            event.preventDefault();
            window.location.assign('./editapi');
        })