extends layout.pug

block content 
    link(rel='stylesheet', href='../../css/common.css')
    div.content-wrapper
      div.cards
        if !response
          div(class='card')
            div(class='card-header')
              h3(class='card-title') Serval Test Failed
              div(class='card-tools')
                span(class='badge badge-danger') FAIL
            div(class='card-body')
              | Response Status: Request timeout
            div(class='card-footer')
              | 
        else
          - let i = 0
          while i < response.length
            if response[i].pass
              div(class='card')
                div(class='card-header')
                  h3(class='card-title') Serval Test Passed
                  div(class='card-tools')
                    span(class='badge badge-success') PASS
                div(class='card-body')
                  | Expected Status: #{request[i].expected_result.status_code}
                  br
                  | Response Status: #{response[i].response_status} 
                  br
                  | Time: #{response[i].request_time}
                div(class='card-footer')
                  | Time Length: #{response[i].request_time_length}
            else if response
              div(class='card')
                div(class='card-header')
                  h3(class='card-title') Serval Test Failed
                  div(class='card-tools')
                    span(class='badge badge-danger') FAIL
                div(class='card-body')
                  | Expected Status: #{request[i].expected_result.status_code}
                  br
                  | Response Status: #{response[i].response_status}
                  br
                  | Time: #{response[i].request_time}
                div(class='card-footer')
                  | Time Length: #{response[i].request_time_length}
            else 
              div(class='card')
                div(class='card-header')
                  h3(class='card-title') Serval Test Failed
                  div(class='card-tools')
                    span(class='badge badge-danger') FAIL
                div(class='card-body')
                  | Expected Status: #{request[i].expected_result.status_code}
                  br
                  | Response Status: Request timeout
                  br
                  | Time: #{response[i].request_time}
                div(class='card-footer')
                  | Time Length: #{response[i].request_time_length}
            - i++

