extends layout.pug

block content 
    link(rel='stylesheet', href='../../css/common.css')
    div.content-wrapper
      - let i = 0
      //- console.log('joined: ', joined)
      while i < response.length
        if response[i].pass
          div(class='card')
            div(class='card-header')
              h3(class='card-title') Serval Test Passed
              div(class='card-tools')
                span(class='badge badge-success') PASS
            div(class='card-body')
              | Expected Status: #{request[i].expected_result.status_code}
              br
              | Response Status: #{response[i].response_status}
              br
              | Time: #{response[i].request_time}
            div(class='card-footer')
              | Length: #{response[i].request_time_length}
        else 
          div(class='card')
            div(class='card-header')
              h3(class='card-title') Serval Test Failed
              div(class='card-tools')
                span(class='badge badge-danger') FAIL
            div(class='card-body')
              | Expected Status: #{request[i].expected_result.status_code}
              br
              | Response Status: #{response[i].response_status}
              br
              | Time: #{response[i].request_time}
            div(class='card-footer')
              | Length: #{response[i].request_time_length}
        - i++
      // TODO: get all the result from database
      // TODO: add multiple result cards from test cases
      //- .card
      //-   .card-header
      //-     h3.card-title Serval Test Passed
      //-     .card-tools
      //-       // Buttons, labels, and many other things can be placed here!
      //-       // Here is a label for example
      //-       span.badge.badge-success PASS
      //-     // /.card-tools
      //-   // /.card-header
      //-   .card-body
      //-     | status: #{status}
      //-     br
      //-     | time: #{time}
      //-   // /.card-body
      //-   .card-footer
      //-     | The footer of the card
      //-   // /.card-footer
      //- // /.card

