extends layout.pug

block content
    link(rel='stylesheet', href='../../css/common.css')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    div.content-wrapper
        nav(style="--bs-breadcrumb-divider: '>';" aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='') Project
                li.breadcrumb-item
                    a(href='') Collection
                li.breadcrumb-item
                    a(href='') API
                li.breadcrumb-item.active(aria-current='page') Case

        form.input-form
            h1 Cases
            button.btn.btn-right.btn-success.btn-block.btn-create_case(type='submit') Create Case
        .cards
            .card
                .card-header
                    .card-title
                    .card-tools
                .card-body.p-0
                    table.table
                        thead
                            tr
                                //- th(style='width: 10px') #
                                th ID
                                th Title
                                th Description
                                th Scenario
                                th Data 
                                th Edit 
                                th Run Test
                                //- th(style='width: 40px') Label
                        tbody
                            if userCases
                                - let i = 0
                                while i < userCases.length
                                    tr 
                                        td #{userCases[i]._id}
                                        td #{userCases[i].title}
                                        td #{userCases[i].description}
                                        td #{userCases[i].scenario}
                                        td #{userCases[i].cases}
                                        td edit
                                        td Run Test
                                    - i++
    script.
        $('.btn-create_case').on('click', function(event) {
            console.log('create_case clicked')
            event.preventDefault();
            window.location.assign('./editcase');
        })