extends layout.pug

block content
    link(rel='stylesheet', href='../../css/common.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='../../src/gherkin.js')
    div.content-wrapper
        nav(style="--bs-breadcrumb-divider: '>';" aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='') Project
                li.breadcrumb-item
                    a(href='') Collection
                li.breadcrumb-item
                    a(href='') API
                li.breadcrumb-item.active(aria-current='page') Case

        form.input-form
            h1 Cases
            button.btn.btn-right.btn-success.btn-block.btn-create_case(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal' data-bs-whatever=`${userCases[0].apiId}`) Create Test Case
            #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog.modal-lg
                    .modal-content
                        .modal-header
                            h5#exampleModalLabel.modal-title Add Test Case
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            form
                                .mb-3 
                                    label.col-form-label(for='api-id') API ID
                                    input#api-id.form-control.input_apiid
                                .mb-3
                                    label.col-form-label(for='test-case') Test Document
                                    textarea#code(name='code' placeholder='# Write your test document in gherkin language here! \n # The serval can only read gherkin now, meow.')
                                        | # Write your test document in gherkin language here! 
                                        | # The serval can only read gherkin now, meow.
                        .modal-footer
                            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                            button.btn.btn-primary.btn-modal-create_case(type='submit') Create Test Case



        .cards
            .card
                .card-header
                    .card-title API ID: #{userCases[0].apiId}
                    .card-tools
                .card-body.p-0
                    table.table
                        thead
                            tr
                                //- th(style='width: 10px') #
                                th(style='width: 5px') ID
                                th(style='width: 10px') Title
                                th Description
                                th Scenario
                                th Data 
                                th Edit 
                                th Run Test
                                //- th(style='width: 40px') Label
                        tbody
                            if userCases[0].case
                                - let i = 0
                                while i < userCases.length
                                    tr 
                                        td #{userCases[i].case._id}
                                        td #{userCases[i].case.title}
                                        td #{userCases[i].case.description}
                                        td 
                                            button.btn.btn-warning.btn-cases(type='submit' id=`${userCases[i].case._id}`) View More
                                        td 
                                            button.btn.btn-warning.btn-cases(type='submit' id=`${userCases[i].case._id}`) View More
                                        td 
                                            button.btn.btn-primary.btn-modify(type='submit' id=`${userCases[i].case._id}`) Modify
                                            button.btn.btn-danger.btn-delete(type='submit' id=`${userCases[i].case._id}`) Delete
                                        td 
                                            button.btn.btn-info.btn-runtest(type='submit' id=`${userCases[i].case._id}`) Run
                                    - i++
    script.
        $('#exampleModal').on('shown.bs.modal', function() {
            // src: https://stackoverflow.com/questions/17086538/codemirror-content-not-visible-in-bootstrap-modal-until-it-is-clicked
            // initialize codemirror here
            let editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                lineNumbers: true,
                matchBrackets: true,
                mode: 'text/x-feature'
            });

            $('.btn-modal-create_case').on('click', function(event) {
                console.log('create case in modal clicked')
                event.preventDefault();

                const apiId = $('.input_apiid').val();
                const featureCode = editor.getValue();

                axios({
                    method: 'post',
                    url: 'http://localhost:3001/api/1.0/editcase',
                    data: {
                        apiId: apiId,
                        featureCode: featureCode,
                    },
                    headers: {'Content-Type': 'application/json'},
                })
                .then((response) => {
                    if (response.status === 200) {
                        alert('create case successfully')
                        window.location.reload();
                    }
                })
                .catch((error) => {
                    console.log('in error');
                    console.log('catch: ', error)
                    alert('create case error')
                })
            })
        })


        $('#exampleModal').on('show.bs.modal', function(event) {
            let button = event.relatedTarget;
            let apiId = $('.btn-create_case').attr('data-bs-whatever');
            $('input#api-id').val(apiId).prop('readonly', true);
        })

        $('.btn-create_case').on('click', function(event) {
            console.log('create_case clicked')
            event.preventDefault();
        })


        $('.btn-delete').on('click', function(event) {
            console.log('delete_case clicked')
            event.preventDefault();

            const apiId = $('.card-title').text().replace('API ID: ', '');
            const caseId = this.id;
            console.log('caseId: ', caseId)

            axios({
                method: 'delete',
                url: 'http://localhost:3001/api/1.0/editcase',
                data: {
                    apiId: apiId,
                    caseId: caseId,
                },
                headers: {'Content-Type': 'application/json'}
            })
            .then((response) => {
                if (response.status === 200) {
                    alert('delete case successfully')
                    //- window.location.assign('./testresult');
                    window.location.reload();
                }
            })
            .catch((error) => {
                console.log('in error');
                console.log('catch: ', error)
                alert('delete case error')
            })
        })


