extends layout.pug

block content
    link(rel='stylesheet', href='../../css/common.css')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    div.content-wrapper
        form.input-form
            h1 Collections
            button.btn.btn-success.btn-block.btn-create_collection(type='submit') Create Collection
        .cards
            .card
                .card-header
                    h3.card-title 
                    .card-tools
                        ul.pagination.pagination-sm.float-right
                            li.page-item
                                a.page-link(href='#') &laquo;
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#') &raquo;
                .card-body.p-0
                    table.table
                        thead
                            tr
                                //- th(style='width: 10px') #
                                th ID
                                th Name
                                th API
                                th Edit 
                                th Run Test
                                //- th(style='width: 40px') Label
                        tbody
                            if userCollections
                                - let i = 0
                                while i < userCollections.length
                                    tr 
                                        td #{userCollections[i]._id}
                                        td #{userCollections[i].collection_name}
                                        td #{userCollections[i].apis}
                                        td edit
                                    - i++
        //- div.cards
        //-     - let i = 0
        //-     while i < userCollections.length
        //-         div(class='card') 
        //-             div(class='card-header')
        //-                 h3(class='card-title'  value=`${userCollections[i]}`) #{userCollections[i]}
        //-                 div(class='card-tools')
        //-             div(class='card-body')
        //-             div(class='card-footer')
        //-         - i++
    script.
        $('.btn-create_collection').on('click', function(event) {
            console.log('create_collection clicked')
            event.preventDefault();
            window.location.assign('./editcollection');
        })
