extends layout.pug

block content 
  link(rel='stylesheet', href='../../css/common.css')
  script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')

  div.content-wrapper
    .input-form
      h1 Projects
      if reportsDetail[0][0].projectId
        - let i = 0
        while i < reportsDetail[0].length
          table.table
            thead
              tr
                th(scope='col') Report ID
                th(scope='col') Test Date
                th(scope='col') Type
                th(scope='col') Title
                th(scope='col') Pass Rate 
                th(scope='col') Examples
                th(scope='col') Average Time
                th(scope='col') Operation 
            tbody
              tr
                th(scope='row') #{reportsDetail[0][i].reportId}
                td #{reportsDetail[0][i].testDate}
                td #{reportsDetail[0][i].type}
                td #{reportsDetail[0][i].testDate}
                td #{reportsDetail[0][i].passRate}
                td #{reportsDetail[0][i].passExamples}
                td #{reportsDetail[0][i].averageTime}
                td 
                  button.btn.btn-primary.btn-detail(type='submit' id=`${reportsDetail[0][i].reportId}`) Detail
          - i++


  script.
    $('.btn-viewreport-in-toggle').on('click', function(event) {
        console.log('view report in toggle clicked');
        event.preventDefault();
        const projectId = $(this).attr('id');
        const envId = $('.btn-viewreport-in-toggle').attr('envid');
        const domainName = $('.btn-viewreport-in-toggle').attr('domain');
        const title = $('.btn-viewreport-in-toggle').attr('title');

        axios({
            method: 'post',
            url: 'http://localhost:3001/api/1.0/reports',
            data: {
                projectId: projectId,
                envId: envId,
                domainName: domainName,
                title: title,
            }, 
            headers: {'Content-Type': 'application/json'}
        })
        .then((response) => {
            if (response.status === 200) {
                //- alert('Found report successfully')
                let reportId = response.data.report_id;
                //- console.log('reportId: ', reportId);
                window.location.assign(`./report?reportid=${reportId}`);
                //- window.location.assign('/casereport');
                //- window.location.reload();
            }
        })
        .catch((error) => {
            console.log('catch: ', error)
            alert('Found report error')
        })
    })
