extends layout.pug

block content 
  link(rel='stylesheet', href='../../css/common.css')
  script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
  
  // src: https://stackoverflow.com/questions/16922625/trying-to-format-a-date-on-jade-template
  -function prettyDate(dateString){
      //if it's already a date object and not a string you don't need this line:
      -var date = new Date(dateString);
      -var d = date.getDate();
      -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
      -var m = monthNames[date.getMonth()];
      -var y = date.getFullYear();
      -return d+' '+m+' '+y;
  -}

    main.main-content(role='main')
        .container-fluid
            .row.justify-content-center
                .col-12
                  //- nav(style="--bs-breadcrumb-divider: '>';" aria-label='breadcrumb')
                  //-   ol.breadcrumb
                  //-       li.breadcrumb-item
                  //-           a(href='') Project
                  //-       li.breadcrumb-item
                  //-           a(href='') Report
                  .input-form
                    h1.display-4(style='font-family: Pixeloid Sans, sans-serif;') Results
                    h1.display-6 #{reportsDetail[0].projectName.toUpperCase()}
                    .card
                      .card-body.p-0
                        if reportsDetail[0].projectName
                          table.table 
                            thead
                              tr
                                th.text-dark(scope='col' style='width: 200px') Test Date
                                th.text-dark(scope='col' style='width: 150px') Type
                                th.text-dark(scope='col' style='width: 600px') Title
                                th.text-dark(scope='col' style='width: 150px') Pass Rate 
                                th.text-dark(scope='col' style='width: 150px') Examples
                                th.text-dark(scope='col' style='width: 200px') Average Time
                                th.text-dark(scope='col') Operation
                            tbody
                            - let i = 0
                            while i < reportsDetail.length
                              tr
                                td #{prettyDate(reportsDetail[i].testDate)}
                                td 
                                  if reportsDetail[i].type === 'SCENARIO'
                                    h1.display-6.badge(style='font-size: 150%; background-color: #809A6F')= reportsDetail[i].type
                                  else if reportsDetail[i].type === 'API'
                                    h1.display-6.badge(style='font-size: 150%; background-color: #A25B5B')= reportsDetail[i].type
                                  else 
                                    h1.display-6.badge(style='font-size: 150%; background-color: #CC9C75')= reportsDetail[i].type
                                td.report-title.list-inline
                                  each element in reportsDetail[i].reportTitle
                                    h1.list-inline-item.badge.bg-light.text-dark(style='font-size: 125%;')= element
                                td #{reportsDetail[i].passRate}
                                td #{reportsDetail[i].passExamples}
                                td #{reportsDetail[i].averageTime}
                                td 
                                  button.btn.btn-primary.btn-report-detail(type='submit' id=`${reportsDetail[i].reportId}`) Detail
                              - i++


  script.
    $('.btn-report-detail').on('click', function(event) {
        console.log('view report-detail clicked')
        event.preventDefault();
        const reportId = this.id;

        window.location.assign(`./reportdetail?reportid=${reportId}`);
    })